<div class="d-flex flex-column">

    <!-- Title -->
    <heading heading="Committee Members"></heading>

    <!-- Member Cards -->
    <div class="row mt-3">
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card">
                <!-- Image -->
                <img src="assets/images/members/john-pham.jpeg">
                <!-- Names -->
                <div class="name">John Pham</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card">
                <!-- Image -->
                <img src="assets/images/members/john-pham.jpeg">
                <!-- Name -->
                <div class="name">John Pham</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card">
                <!-- Image -->
                <img src="assets/images/members/john-pham.jpeg">
                <!-- Name -->
                <div class="name">John Pham</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card">
                <!-- Image -->
                <img src="assets/images/members/john-pham.jpeg">
                <!-- Name -->
                <div class="name">John Pham</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card">
                <!-- Image -->
                <img src="assets/images/members/john-pham.jpeg">
                <!-- Name -->
                <div class="name">John Pham</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card">
                <!-- Image -->
                <img src="assets/images/members/john-pham.jpeg">
                <!-- Name -->
                <div class="name">John Pham</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card">
                <!-- Image -->
                <img src="assets/images/members/john-pham.jpeg">
                <!-- Name -->
                <div class="name">John Pham</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card">
                <!-- Image -->
                <img src="assets/images/members/john-pham.jpeg">
                <!-- Name -->
                <div class="name">John Pham</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card">
                <!-- Image -->
                <img src="assets/images/members/john-pham.jpeg">
                <!-- Name -->
                <div class="name">John Pham</div>
            </div>
        </div>
        
    </div>



</div>