<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="/">
            <img src="assets/images/logo.svg" id="logo"/>
        </a>

        <!-- Hamburger -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse justify-content-end" [collapse]="isCollapsed" [isAnimated]="true">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
           
        </div>

    </div>


</nav>
