<div class="footer pb-3">

    <div class="container mb-4 d-none d-md-block">

        <div class="d-flex flex-column">

            <!-- Notices -->
            <div class="d-flex flex-column">
                <div class="footer-notice"><span class="highlight">CONFIDENTIALITY NOTICE: </span>The contents of this email message and any attachments are intended solely for the addressee(s) and may contain confidential and/or privileged information and may be legally protected from disclosure. If you are not the intended recipient of this message or their agent, or if this message has been addressed to you in error, please immediately alert the sender by reply email and then delete this message and any attachments. If you are not the intended recipient, you are hereby notified that any use, dissemination, copying, or storage of this message or its attachments is strictly prohibited.</div>
                <div class="footer-notice mt-3"><span class="highlight">COVID-19: </span>The United Kingdom is experiencing a steep rise in cases with a national lockdown to be imposed from Thursday 5 November 2020. During this time, the UK government has urged workers to work-from-home where possible. As such, I will be unavailable for face-to-face appointments and/or business travel until further notice. For official and up-to-date Coronavirus information, visit gov.uk/coronavirus (Updated on 19 February 2021 at 17:10)</div>
            </div>

            <!-- Divider -->
            <div class="divider mt-4 mb-4"></div>

            <!-- Links -->
            <div class="row footer-links">

                <!-- Column 1 -->
                <div class="col-12 col-md-2 column">
                    <div class="d-flex flex-column">
                        <p class="footer-link-header">Sitemap</p>
                        <div class="d-flex flex-column">
                            <a routerLink="/" class="footer-link">Home</a>
                            <a class="footer-link disabled">Blog</a>
                            <a class="footer-link disabled">Production</a>
                            <a class="footer-link disabled">Software</a>
                            <a class="footer-link disabled">About</a>
                            <a class="footer-link disabled">Contact</a>
                        </div>
                    </div>
                </div>

                <!-- Column 2 -->
                <div class="col-12 col-md-2 column">
                    <div class="d-flex flex-column">
                        <p class="footer-link-header">About</p>
                        <div class="d-flex flex-column">
                            <a class="footer-link disabled">Education</a>
                            <a class="footer-link disabled">Work</a>
                            <a class="footer-link disabled">Bucket List</a>
                            <a class="footer-link disabled">Music</a>
                            <a class="footer-link disabled">Film & TV</a>
                        </div>
                    </div>
                </div>

                <!-- Column 2 -->
                <div class="col-12 col-md-2 column">
                    <div class="d-flex flex-column">
                        <p class="footer-link-header">Services</p>
                        <div class="d-flex flex-column">
                            <a routerLink="/invoicing" class="footer-link">Invoicing</a>
                            <a class="footer-link disabled">File Upload</a>
                            <a routerLink="/appointments" class="footer-link">Appointments</a>
                            <a class="footer-link disabled">Lighting Plan</a>
                            <a class="footer-link disabled">Feedback</a>
                        </div>
                    </div>
                </div>

                <!-- Column 2 -->
                <div class="col-12 col-md-2 column">
                    <div class="d-flex flex-column">
                        <p class="footer-link-header">Legal</p>
                        <div class="d-flex flex-column">
                            <a class="footer-link disabled">Privacy Policy</a>
                            <a class="footer-link disabled">Cookies Policy</a>
                            <a class="footer-link disabled">Terms & Conditions</a>
                        </div>
                    </div>
                </div>

                <!-- Column 2 -->
                <div class="col-12 col-md-2 column">
                    <div class="d-flex flex-column">
                        <p class="footer-link-header">Connect</p>
                        <div class="d-flex flex-column">
                            <a class="footer-link">Facebook</a>
                            <a class="footer-link">Twitter</a>
                            <a class="footer-link">Instagram</a>
                            <a class="footer-link">LinkedIn</a>
                            <a class="footer-link">Weibo</a>
                            <a class="footer-link">Github</a>
                        </div>
                    </div>
                </div>

                <!-- Column 2 -->
                <div class="col-12 col-md-2 column">
                    <div class="d-flex flex-column">
                        <p class="footer-link-header">Get in touch</p>
                        <div class="d-flex flex-column">
                            <a class="footer-link disabled">Contact</a>
                            <a href="" class="footer-link">Messenger</a>
                            <a class="footer-link">WeChat</a>
                            <a class="footer-link">Telegram</a>
                            <a class="footer-link">WhatsApp</a>
                            <a class="footer-link">Email</a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Notice -->
            <div class="d-flex mt-4">
                <div class="footer-copyright">More ways to shop: find an Apple Store or other retailer near you. Or call 0800 048 0408.</div>
            </div>

            <!-- Divider -->
            <div class="divider mt-2 mb-2"></div>

            <!-- Copyright Notice -->
            <div class="d-flex justify-content-between">
                <div class="footer-copyright">Copyright © 2021 VietPro UK & John Pham. All rights reserved.</div>
                <div class="d-flex justify-content-end align-items-center">
                    <img class="footer-flag mx-2" src="assets/images/united-kingdom.svg" />
                    <div class="footer-copyright">United Kingdom</div>
                </div>

            </div>
        </div>

    </div>
</div>