@font-face {
    font-family: 'Johnston';
    src: url('../../assets/fonts/Johnston-Light.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Johnston';
    src: url('../../assets/fonts/Johnston-Regular.woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Johnston';
    src: url('../../assets/fonts/Johnston-Medium.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Johnston';
    src: url('../../assets/fonts/Johnston-Bold.otf');
    font-weight: 700;
}